/** BEGIN RESET **/
/* Box sizing rules */ *, *::before, *::after { box-sizing: border-box; } /* Remove default margin */ body, h1, h2, h3, h4, p, figure, blockquote, dl, dd { margin: 0; } /* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */ ul[role="list"], ol[role="list"] { list-style: none; } /* Set core root defaults */ html { scroll-behavior: smooth; } /* Set core body defaults */ body { min-height: 100vh; text-rendering: optimizeSpeed; line-height: 1.5; } /* A elements that don't have a class get default styles */ a:not([class]) { text-decoration-skip-ink: auto; } /* Make images easier to work with */ img, picture { max-width: 100%; display: block; } /* Inherit fonts for inputs and buttons */ input, button, textarea, select { font: inherit; } /* Remove all animations and transitions for people that prefer not to see them */ @media (prefers-reduced-motion: reduce) { *, *::before, *::after { animation-duration: 0.01ms !important; animation-iteration-count: 1 !important; transition-duration: 0.01ms !important; scroll-behavior: auto !important; } }
/** END RESET **/

body {
  padding: 2em;
  display: flex;
  background-image: url(./assets/than.png);
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#root { /* DONT USE IDs FOR STYLING */
/* DON'T USE // FOR COMMENTS */

  height: 100%;
  align-self: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.results {
  min-height: 10vh;
  width: 40vw;
  padding: 16px 32px;
  margin-top: 32px;
  border-radius: 8px;
  background: white;
  color: black;
  cursor: pointer;
  text-align: left;
}

.📦 {
  --background-color: transparent;

  width: 100%;
  padding: 10px 32px 10px 16px;
  margin-top: 8px;
  background-color: var(--background-color);
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out,
    border-color 300ms ease-in-out;
}

.🍑on {
  --background-color: #a125b4;
  --border-color: #e5ebdf;
  --border-radius: 8px;

  width: max-content;
  padding: 10px 32px;
  margin-left: -10px;
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius);
  color: white;
  cursor: pointer;
  background-color: var(--background-color);
}

.🍑on--grouped {
  position: relative;
  z-index: 1;
}

.🍑on:hover {
  --background-color: #156b57;
}

.🍑on:focus {
  --border-color: #115462;
  box-shadow: 0 0 0 3px #e5ebdf;
  outline: 0;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.twitterStream {
  height: 200px;
  overflow: scroll;
}

.twitter-input {
  position: relative;
  z-index: 1;
  height: 50px;
  padding-left: 16px;
  border: 0;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  background: white;
}

.fadeIn {
  animation: 200ms fadeIn forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}